<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tus Productos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!--NAVBAR-->
    <nav class="navbar navbar-expand-sm" style="margin-top: -12px;">
            <a class="navbar-brand ml-2" href="#">
                <img src="./../../../assets/Logoeats-grande2.png" alt="logo" style="width:170px; height: 94px;">
            </a>
            <ul class="navbar-nav"
                style="margin-left: -17px; width: 572px; background-image: url('./../../../assets/barranav.png'); height: 73px;">
                <li class="nav-item" style="width: 60px;">
                    <a class="nav-link " href="../home/home.component.html"
                        style="margin-left: 20px; margin-top: 15px; color: white; ">Home</a>
                </li>
                <li class="nav-item" style="text-align: center; width: 120px;">
                    <a class="nav-link" href="../productos/productos.component.html"
                        style=" margin-left: 25px; margin-top: 15px; color: white;">Productos</a>
                </li>
                <li class="nav-item" style="text-align: center; width: 120px;">
                    <a class="nav-link" href="../promociones/promociones.component.html"
                        style=" margin-left: 15px; margin-top: 15px; color: white;">Promociones</a>
                </li>
                <li class="nav-item" style="text-align: center; width: 120px;">
                    <a class="nav-link" href="../about/about.component.html"
                        style=" margin-left: 20px; margin-top: 15px; color: white;">Acerca
                        de</a>
                </li>
                <li class="nav-item" style="width: 130px; text-align: center; ">
                    <a class="nav-link" href="#" style="margin-left: -10px; margin-top: 15px; color: white;">Iniciar
                        Sesion</a>
                </li>
    
            </ul>
        </nav>
<div style="width: auto;">
    <div class="mr-2 d-flex flex-row-reverse">
        <a href="../crearproductos/crearproductos.component.html">
        <button class="btn btn-primary  mt-2">
            <img src='./../../../assets/productos.png' width="40px" />
            Agregar Producto
        </button>
    </a>
    </div>
    <div class="row ml-1 mr-1 mt-2">
        <div class="card col-lg-4 col-md-6 col-sm-12 col-xs-12 ">
            <br>
            <img class="card-img-top" style="height:300px"
                src="./../../../assets/aguajamaica.jpg"
                alt="aguaJamaica">
                <div class="card-body">
                    <h5 class="card-title">Aguas Jamaica</h5>
                    <p style="margin: 0px;" >Disfruta las mejores aguas del tec
                            <br>
                            <strong class="text-success"><br>Precio: </strong> 0.5 L x 15.00 y 1 L x 25.00
                            <strong class="text-danger"><br>Horario: </strong> 10:00-15:00
                            <strong class="text-primary"><br>Dias disponibles: </strong> Lunes a Viernes                    
                            <strong class="text-dark"><br>Localizacion:</strong> Entrada principal del Tec (Av. Tecnologico)
                    </p>
                    <br>
                    <a href="../editarproducto/editarproducto.component.html" class="btn btn-primary">Editar</a>
                <a href="#" class="btn btn-danger">Eliminar</a>
                </div>
        </div>
        <div class="card col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <br>
                <img class="card-img-top" style="height:300px"
                    src="./../../../assets/aguajamaica.jpg"
                    alt="aguaJamaica">
                    <div class="card-body">
                        <h5 class="card-title">Aguas jamaica</h5>
                        <p style="margin: 0px;" >Disfruta las mejores aguas del tec
                                <br>
                                <strong class="text-success"><br>Precio: </strong> 0.5 L x 15.00 y 1 L x 25.00
                                <strong class="text-danger"><br>Horario: </strong> 10:00-15:00
                                <strong class="text-primary"><br>Dias disponibles: </strong> Lunes a Viernes                    
                                <strong class="text-dark"><br>Localizacion:</strong> Entrada principal del Tec (Av. Tecnologico)
                        </p>
                        <br>
                        <a href="#" class="btn btn-primary">Editar</a>
                    <a href="#" class="btn btn-danger">Eliminar</a>
                    </div>
            </div>
            <div class="card col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <br>
                    <img class="card-img-top" style="height:300px"
                        src="./../../../assets/aguaLimon.jpg"
                        alt="aguaJamaica">
                        <div class="card-body">
                            <h5 class="card-title">Aguas Limon</h5>
                            <p style="margin: 0px;" >Disfruta las mejores aguas del tec
                                    <br>
                                    <strong class="text-success"><br>Precio: </strong> 0.5 L x 15.00 y 1 L x 25.00
                                    <strong class="text-danger"><br>Horario: </strong> 10:00-15:00
                                    <strong class="text-primary"><br>Dias disponibles: </strong> Lunes a Viernes                    
                                    <strong class="text-dark"><br>Localizacion:</strong> Entrada principal del Tec (Av. Tecnologico)
                            </p>
                            <br>
                            <a href="#" class="btn btn-primary">Editar</a>
                        <a href="#" class="btn btn-danger">Eliminar</a>
                        </div>
                </div>
    </div> <!-- CIERRE DIV ROW-->
    <div class="row ml-1 mr-1">
        <div class="card col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <br>
            <img class="card-img-top" style="height:300px"
                src="./../../../assets/agualimon.jpg"
                alt="aguaJamaica">
                <div class="card-body">
                    <h5 class="card-title">Aguas Limon</h5>
                    <p style="margin: 0px;" >Disfruta las mejores aguas del tec
                            <br>
                            <strong class="text-success"><br>Precio: </strong> 0.5 L x 15.00 y 1 L x 25.00
                            <strong class="text-danger"><br>Horario: </strong> 10:00-15:00
                            <strong class="text-primary"><br>Dias disponibles: </strong> Lunes a Viernes                    
                            <strong class="text-dark"><br>Localizacion:</strong> Entrada principal del Tec (Av. Tecnologico)
                    </p>
                    <br>
                    <a href="#" class="btn btn-primary">Editar</a>
                <a href="#" class="btn btn-danger">Eliminar</a>
                </div>
        </div>
        <div class="card col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <br>
                <img class="card-img-top" style="height:300px"
                    src="./../../../assets/aguahorchata.jpg"
                    alt="aguaJamaica">
                    <div class="card-body">
                        <h5 class="card-title">Aguas Horchata</h5>
                        <p style="margin: 0px;" >Disfruta las mejores aguas del tec
                                <br>
                                <strong class="text-success"><br>Precio: </strong> 0.5 L x 15.00 y 1 L x 25.00
                                <strong class="text-danger"><br>Horario: </strong> 10:00-15:00
                                <strong class="text-primary"><br>Dias disponibles: </strong> Lunes a Viernes                    
                                <strong class="text-dark"><br>Localizacion:</strong> Entrada principal del Tec (Av. Tecnologico)
                        </p>
                        <br>
                        <a href="#" class="btn btn-primary">Editar</a>
                    <a href="#" class="btn btn-danger">Eliminar</a>
                    </div>
            </div>
            <div class="card col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <br>
                    <img class="card-img-top" style="height:300px"
                    src="./../../../assets/aguahorchata.jpg"
                    alt="aguaJamaica">
                    <div class="card-body">
                        <h5 class="card-title">Aguas Horchata</h5>
                        <p style="margin: 0px;" >Disfruta las mejores aguas del tec
                                <br>
                                <strong class="text-success"><br>Precio: </strong> 0.5 L x 15.00 y 1 L x 25.00
                                <strong class="text-danger"><br>Horario: </strong> 10:00-15:00
                                <strong class="text-primary"><br>Dias disponibles: </strong> Lunes a Viernes                    
                                <strong class="text-dark"><br>Localizacion:</strong> Entrada principal del Tec (Av. Tecnologico)
                        </p>
                        <br>
                        <a href="#" class="btn btn-primary">Editar</a>
                    <a href="#" class="btn btn-danger">Eliminar</a>
                    </div>
                </div>
    </div> <!-- CIERRE DIV ROW-->
    <ul class="pagination justify-content-center mt-2 mb-2">
        <li class="page-item"><a class="page-link" href="javascript:void(0);">Previous</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
    </ul>
</div>
</body>

</html>