<!DOCTYPE html>
<html lang="en">

<head>
    <title>TecEats</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .carousel-inner img {
            width: 900px;
        }

        .carousel-inner img {
            width: 900px;
        }

        .carousel-control-next,
        .carousel-control-prev {
            filter: invert(100%);
        }
    </style>
</head>


<body>
    <div>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a class="navbar-brand" href="#"><img src="./../../../assets/logotec.png" alt="logo"
                    style="width:150px; height: 84px; margin-top: 5px;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link " [routerLink]="['/verProductos']" style="color: white; ">Mis Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " [routerLink]="['/about2']" style=" color: white; ">Acerca</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/contacto']" style=" color: white;">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/home']" style=" color: white;">Cerrar Sesion</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class=" col-12 d-flex flex-row-reverse">
            <a [routerLink]="['/crearProductos']" routerLinkActive="router-link-active">
                <button class="btn btn-primary  mt-2 mr-2">
                    <img src='./../../../assets/productos.png' width="40px" />
                    Agregar Producto
                </button>
            </a>
        </div>
        <div *ngIf="productos.length>0;else noproductos">
            <div class="row ml-1 mr-1 mt-2">
                <div class="card col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 " *ngFor="let p of productos">
                    <img class="card-img-top mt-3"
                        style="height:250px; width: 90; align-self: center; " [src]="p.link"
                        alt="aguaJamaica">
                    <div class="card-body" style="margin-top: -20px;">
                        <h5 class="card-title ">{{p.nombre}}</h5>
                        <p> {{p.presentacion}}
                            <strong class="text-success"><br>Precio: </strong> {{p.precio}}
                            <strong class="text-danger"><br>Horario: </strong> {{p.horario}}
                            <strong class="text-primary"><br>Dias disponibles: </strong> {{p.disponibilidad}}
                            <strong class="text-dark"><br>Localizacion:</strong> {{p.localizacion}}
                            <strong class="text-warning"><br>Observaciones:</strong> {{p.observaciones}}
                        </p>
                        <button (click)="editar($event,p)" class="btn btn-primary">Editar</button>
                        <button class="btn btn-danger" (click)="borrar($event,p)">Eliminar</button>
                        <br>
                    </div>
                    <div>
                            <div *ngIf="editando &&  editarProducto.id==p.id">

                                    <button onclick="document.getElementById('id01').style.display='block'"
                                        class="btn btn-info">Habilitar Edición</button>

                        <div id="id01" class="w3-modal">
                            <div class="w3-modal-content w3-card-4">
                                <header class="w3-container w3-teal">
                                    <span onclick="document.getElementById('id01').style.display='none'"
                                        class="w3-button w3-display-topright">&times;</span>
                                    <h2>Datos a Actualizar</h2>
                                </header>
                                <div class="w3-container">
                                    <form (ngSubmit)="actualizar()">
                                        <div class="form-group mt-3">
                                            <input type="text" name="nombre" [(ngModel)]="editarProducto.nombre"
                                                class="form-control" placeholder="Nombre Producto">
                                        </div>
                                        <div class="form-group mt-3">
                                            <input type="text" name="presentacion"
                                                [(ngModel)]="editarProducto.presentacion" class="form-control"
                                                placeholder="Presentacion">
                                        </div>
                                        <div class="form-group mt-3">
                                            <input type="text" name="precio" [(ngModel)]="editarProducto.precio"
                                                class="form-control" placeholder="Precio">
                                        </div>
                                        <div class="form-group mt-3">
                                            <input type="text" name="horario" [(ngModel)]="editarProducto.horario"
                                                class="form-control" placeholder="ingresa tu hora">
                                        </div>
                                        <div class="form-group mt-3">
                                            <input type="text" name="disponibilidad"
                                                [(ngModel)]="editarProducto.disponibilidad" class="form-control"
                                                placeholder="dias de la semana">
                                        </div>
                                        <div class="form-group mt-3">
                                            <input type="text" name="localizacion"
                                                [(ngModel)]="editarProducto.localizacion" class="form-control"
                                                placeholder="direccion de tu negocio">
                                        </div>
                                        <div class="form-group mt-3">
                                            <input type="text" name="observaciones"
                                                [(ngModel)]="editarProducto.observaciones" class="form-control"
                                                placeholder="observaciones de su producto">
                                        </div>
                                        <button type="submit" class="btn btn-warning"> Actualizar</button>
                                    </form>
                                    <br>
                                </div>
                                <footer class="w3-container w3-teal">
                                    <p>No olvides precionar el boton amarillo</p>
                                </footer>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div> <!-- CIERRE DIV ROW-->

        <ng-template #noproductos>
            <h1 style="margin-left:30px">No hay Productos disponibles :´(</h1>
        </ng-template>
    </div>
</body>

</html>