<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tus Productos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!--NAVBAR-->
    <nav class="navbar navbar-expand-sm" style="margin-top: -12px;">
            <a class="navbar-brand ml-2" href="#">
                <img src="./../../../assets/Logoeats-grande2.png" alt="logo" style="width:170px; height: 94px;">
            </a>
            <ul class="navbar-nav" 
                style="margin-left: -17px; width: 572px; background-image: url('./../../../assets/barranav.png'); height: 73px;">
                <li class="nav-item" >
                        <a class="nav-link " [routerLink]="['/verProductos']" routerLinkActive="router-link-active"
                            style=" margin-top: 15px; width: 150px; color: white; ">Mis Productos</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link " [routerLink]="['/about2']" routerLinkActive="router-link-active"
                        style="margin-left: -30px; margin-top: 15px; color: white; ">Acerca</a>
                </li>
                <li class="nav-item" style="text-align: center;">
                    <a class="nav-link" [routerLink]="['/contacto']" routerLinkActive="router-link-active"
                        style=" margin-left: 0px; margin-top: 15px; color: white;" >Contacto</a>
                </li>
                <li class="nav-item" style="text-align: center;">
                    <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active"
                        style=" margin-left: -5px; margin-top: 15px; width: 150px; color: white;">Cerrar Sesion</a>
                </li>
    
            </ul>
        </nav>
    <div style="width: auto;">
        <div class="mr-2 d-flex flex-row-reverse">
            <a [routerLink]="['/crearProductos']" routerLinkActive="router-link-active">
                <button class="btn btn-primary  mt-2">
                    <img src='./../../../assets/productos.png' width="40px" />
                    Agregar Producto
                </button>
            </a>
        </div>
        <div *ngIf="productos.length>0;else noproductos">
            <div class="row ml-1 mr-1 mt-2">
                <div class="card col-lg-4 col-md-6 col-sm-12 col-xs-12 " *ngFor="let p of productos">
                    <img class="card-img-top mt-3"
                        style="height:200px; width: 350px; align-items: center; margin-left: 20px;" [src]="p.link"
                        alt="aguaJamaica">
                    <div class="card-body" style="margin-top: -20px;">
                        <h5 class="card-title ">{{p.nombre}}</h5>
                        <p> {{p.presentacion}}
                            <strong class="text-success"><br>Precio: </strong> {{p.precio}}
                            <strong class="text-danger"><br>Horario: </strong> {{p.horario}}
                            <strong class="text-primary"><br>Dias disponibles: </strong> {{p.disponibilidad}}
                            <strong class="text-dark"><br>Localizacion:</strong> {{p.localizacion}}
                            <strong class="text-warning"><br>Observaciones:</strong> {{p.observaciones}}
                        </p>
                        <button (click)="editar($event,p)" class="btn btn-primary">Editar</button>
                        <button class="btn btn-danger" (click)="borrar($event,p)">Eliminar</button>
                        <br>
                    </div>
                    <div>
                            <div *ngIf="editando &&  editarProducto.id==p.id">

                                    <button onclick="document.getElementById('id01').style.display='block'"
                                        class="btn btn-info">Habilitar Edición</button>

                        <div id="id01" class="w3-modal">
                            <div class="w3-modal-content w3-card-4">
                                <header class="w3-container w3-teal">
                                    <span onclick="document.getElementById('id01').style.display='none'"
                                        class="w3-button w3-display-topright">&times;</span>
                                    <h2>Datos a Actualizar</h2>
                                </header>
                                <div class="w3-container">
                                    <form (ngSubmit)="actualizar()">
                                        <div class="form-group mt-3">
                                            <input type="text" name="nombre" [(ngModel)]="editarProducto.nombre"
                                                class="form-control" placeholder="Nombre Producto">
                                        </div>
                                        <div class="form-group mt-3">
                                            <input type="text" name="presentacion"
                                                [(ngModel)]="editarProducto.presentacion" class="form-control"
                                                placeholder="Presentacion">
                                        </div>
                                        <div class="form-group mt-3">
                                            <input type="text" name="precio" [(ngModel)]="editarProducto.precio"
                                                class="form-control" placeholder="Precio">
                                        </div>
                                        <div class="form-group mt-3">
                                            <input type="text" name="horario" [(ngModel)]="editarProducto.horario"
                                                class="form-control" placeholder="ingresa tu hora">
                                        </div>
                                        <div class="form-group mt-3">
                                            <input type="text" name="disponibilidad"
                                                [(ngModel)]="editarProducto.disponibilidad" class="form-control"
                                                placeholder="dias de la semana">
                                        </div>
                                        <div class="form-group mt-3">
                                            <input type="text" name="localizacion"
                                                [(ngModel)]="editarProducto.localizacion" class="form-control"
                                                placeholder="direccion de tu negocio">
                                        </div>
                                        <div class="form-group mt-3">
                                            <input type="text" name="observaciones"
                                                [(ngModel)]="editarProducto.observaciones" class="form-control"
                                                placeholder="observaciones de su producto">
                                        </div>
                                        <button type="submit" class="btn btn-warning"> Actualizar</button>
                                    </form>
                                    <br>
                                </div>
                                <footer class="w3-container w3-teal">
                                    <p>No olvides precionar el boton amarillo</p>
                                </footer>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div> <!-- CIERRE DIV ROW-->

        <ng-template #noproductos>
            <h1>No hay Productos disponibles :´(</h1>
        </ng-template>
    </div>
</body>

</html>