<!DOCTYPE html>
<html lang="en">

<head>
    <title>TecEats</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .carousel-inner img {
            width: 900px;
        }

        .carousel-inner img {
            width: 900px;
        }

        .carousel-control-next,
        .carousel-control-prev {
            filter: invert(100%);
        }
    </style>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<body style="height: auto;">
    <div>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a class="navbar-brand" href="#"><img src="./../../../assets/logotec.png" alt="logo"
                    style="width:150px; height: 84px; margin-top: 5px;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link " [routerLink]="['/verProductos']" style="color: white; ">Mis Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " [routerLink]="['/about2']" style=" color: white; ">Acerca</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/contacto']" style=" color: white;">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/home']" style=" color: white;">Cerrar Sesion</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="row ml-2 mt-2">
        <div class="card col-12 col-sm-12 col-md-6 col-lg-7 col-xl-7 " >
            <div class="card-header" style="text-align: center; width:auto;">
                <h3>Acerca de TecEats</h3>
            </div>
            <div class="card-body">

                <p class="card-text" style="text-align: center;"><strong>¿Que es TecEats?</strong></p>

                <p class="text-info" style="text-align:justify;">TecEats es una pagina diseñada para los
                    negocios de comida
                    que se encuentran en el Instituto Tecnologico de Tepic y sus alrededores, nuestros objetivos
                    son ayudar a las personas que tienen estos negocios/puestos de comida ya que muchos de ellos
                    son alumnos con bajos recursos que buscan un ingreso extra para sus estudios ademas de
                    proporcionar una comida mas rapida a aquellos alumnos que se quedan a comer en el Instituto
                    por lo que cuentan con muy poco tiempo para comer y buscan algo rapido y cerca. Con la ayuda
                    de esta pagina los alumnos podran conocer que negocios de comida ofrece el ITTepic y
                    conseguir una
                    comida mas rapida al mismo tiempo que puedes ayudar a un alumno. </p>

                <br>
                <p><strong>Esta pagina fue creada por: </strong>
                    <br> -Alejandra Grande de Uña - Ing. TIC'S
                    <br> -Ricardo Lopez Perales - Ing. TIC'S
                    <br> -Sinahi Ruiz Rodriguez - Ing. TIC'S
                </p>

            </div>
        </div>
        <div id="demo" class="carousel slide col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>

            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner mt-4">
                <div class="carousel-item active imagen">
                    <img style="height: 63ch; width: 100%; " src="../../../assets/ale.jpeg" class="rounded-circle">
                </div>
                <div class="carousel-item">
                    <img style="height: 63ch; width: 100%; " src="../../../assets/rishi.jpeg" class="rounded-circle">
                </div>
                <div class="carousel-item">
                    <img style="height: 63ch; width: 100%; " src="../../../assets/sinahi.jpeg" class="rounded-circle">
                </div>

            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next " href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</body>

</html>