<!DOCTYPE html>
<html lang="en">

<head>
    <title>TecEats</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .carousel-inner img {
            width: 900px;
        }

        .carousel-inner img {
            width: 900px;
        }

        .carousel-control-next,
        .carousel-control-prev {
            filter: invert(100%);
        }
    </style>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<body style="height: auto;">
    <div>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a class="navbar-brand" href="#"><img src="./../../../assets/logotec.png" alt="logo"
                    style="width:150px; height: 84px; margin-top: 5px;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link " (click)="abrirHome()" style="color: white;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="abrirProducto()" style="color: white;">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="abrirPromociones()" style="color: white;">Promociones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="abrirAcerca()" style="color: white;">Acerca de</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="abrirIniciar()" style="color: white;">Iniciar Sesion</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="container">
            <img src="./../../../assets/bandaProductos.png" width="70%" height="80%" class="col-12">
        </div>
            <div class="card col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3" style="height: 100%; margin-top: -20px; ">
                <img class="card-img-top align-self-center mt-2" style="height: 40ch; width: 90%;"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTP5APrmzJR452KdomfHiVCCcjNy6lKoVU9M7LV7T7Z4oGE6YTE">
                <div class="card-body">
                    <h4 class="card-title">Burritos</h4>
                    <p class="card-text">Disfruta de los mejores burritos de todo el tec.</p>
                    <a (click)="abrirDesBurritos()" class="btn btn-primary" style="color: white;">Ver mas</a>
                </div>
            </div>
            <div class="card col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3" style="height: 100%; margin-top: -20px; ">
                <img class="card-img-top align-self-center mt-2" style="height: 40ch; width: 90%;"
                src="https://i.pinimg.com/564x/68/d0/89/68d0890c7c08ad2cfd6c8e1e9d0b5c95.jpg">
                <div class="card-body">
                    <h4 class="card-title">Aguas</h4>
                    <p class="card-text">Disfruta de las mejores aguas frescas de todo el tec.</p>
                    <a (click)="abrirDesAguas()" class="btn btn-primary" style="color: white;">Ver mas</a>
                </div>
            </div>
            <div class="card col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3" style="height: 100%; margin-top: -20px; ">
                <img class="card-img-top align-self-center mt-2" style="height: 40ch; width: 90%;"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTy3mYXRDrmluE017Wb0GKgMJvS7ufBI3IYE2lwH0fUqrxkjtgL">
                <div class="card-body">
                    <h4 class="card-title">Tortas</h4>
                    <p class="card-text">Disfruta de las mejores tortas de todo el tec.</p>
                    <a (click)="abrirDesTortas()" class="btn btn-primary" style="color: white;">Ver mas</a>
                </div>
            </div>
            <div class="card col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3" style="height: 100%; margin-top: -20px; ">
                <img class="card-img-top align-self-center mt-2" style="height: 40ch; width: 90%;"
                src="https://i.pinimg.com/564x/3d/7d/8b/3d7d8b481e45e36cbdec40952a544a1e.jpg">
                <div class="card-body">
                    <h4 class="card-title">Donas Glaseadas</h4>
                    <p class="card-text">Disfruta de las mejores donas de todo el tec.</p>
                    <a (click)="abrirDesDonas()" class="btn btn-primary" style="color: white;">Ver mas</a>

                </div>
            </div>

    </div>
</body>

</html>