<!DOCTYPE html>
<html lang="en">

<head>
    <title>TecEats</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .carousel-inner img {
            width: 900px;
        }

        .carousel-inner img {
            width: 900px;
        }

        .carousel-control-next,
        .carousel-control-prev {
            filter: invert(100%);
        }
    </style>
</head>


<body>
    <div>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a class="navbar-brand" href="#"><img src="./../../../assets/logotec.png" alt="logo"
                    style="width:150px; height: 84px; margin-top: 5px;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link " (click)="abrirHome()" style="color: white;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="abrirProducto()" style="color: white;">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="abrirPromociones()" style="color: white;">Promociones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="abrirAcerca()" style="color: white;">Acerca de</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="abrirIniciar()" style="color: white;">Iniciar Sesion</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="row ml-2 mt-2 mr-2">
        <div id="pestanas" class="col-12">
            <ul class="nav nav-tabs">

                <li class="nav-item">
                    <a class="nav-link active btn btn-outline-primary" data-toggle="tab" href="#home">Inicio/Sesion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-info" data-toggle="tab" href="#menu1">Registro</a>
                </li>

            </ul>
        </div>
        <div class="tab-content col-12">
            <div id="home" class="container tab-pane active"><br>
                <div class="col-sm-12 seccion-principal ">
                    <div class="modal-content" style="background-color:cornflowerblue;">
                        <div class="mt-3 col-12">
                            <img src="./../../../assets/usuario2.jpeg" style="display: block;
                                margin-left: auto;
                                margin-right: auto;
                                width: 10ch;
                            ">
                        </div>
                        <form action="" class="col-12">
                                <div class="form-group" id="usuario" style=" margin-left: auto;
                                margin-right: auto; width: 60%;" >
                                    <input type="email" name="email"   [(ngModel)]="user.email"class="form-control" placeholder="@" required>
                                </div>
                                <div class="form-group" id="contrasena" style=" margin-left: auto;
                                margin-right: auto; width: 60%;">
                                    <input name="password" type="password"  [(ngModel)]="user.password" placeholder="*****" required
                                        class="form-control">
                                </div>
                                <div style=" margin-left: auto;
                                margin-right: auto; align-self: flex-start; width: 10%;">
                                                <button type="submit" class="btn btn-secondary " (click)="onLogin()"><i
                                                    class="fas fa-sign-in-alt"></i>
                                                Ingresar</button>
                                            </div>
                                            <br>
                                    <table style=" margin-left: auto;
                                margin-right: auto; width: 50%;">
                                    <tr>
                                        <td>
                                                <button expand="block" size="large" (click)="onLoginGoogle()" class="btn  btn-danger"><i
                                                    class="fab fa-google-plus-g"></i>
                                                Google
                                            </button>
                                        </td>
                                        <td>
                                                <button expand="block" size="large" class="btn  btn-dark" (click)="onLoginGit()"> <i
                                                    class="fab fa-github-square"></i>
                                                GitHub
                                            </button>
                                        </td>
                                        <td>
                                                <button expand="block" size="large" class="btn  btn-primary" (click)="onLoginFacebook()"> <i
                                                    class="fab fa-facebook-square"></i>
                                                Facebook
                                            </button>
                                        </td>
                                        <td>
                                                <button expand="block" size="large" class="btn  btn-info" (click)="onLoginTwiter()"> <i
                                                    class="fab fa-twitter"></i>
                                                Twiter
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                                <br>
                            </form>
                    </div>
                </div>
            </div>
            <div id="menu1" class="container tab-pane fade"><br>
                <div class="col-sm-12 seccion-principal ">
                        <div class="modal-content" style="background-color:cornflowerblue;">
                            <div class="mt-3 ">
                                <img src="./../../../assets/usuario2.jpeg"  style="display: block;
                                margin-left: auto;
                                margin-right: auto;
                                width: 15%;
                            ">
                            </div>
                            <form action="" class="col-12">
                                    <div class="form-group" id="usuario" style=" margin-left: auto;
                                    margin-right: auto; width: 60%;">
                                        <input type="email" name="email"   [(ngModel)]="user.email" class="form-control" placeholder="@" required>
                
                                    </div>
                                    <div class="form-group" id="contrasena" style=" margin-left: auto;
                                    margin-right: auto; width: 60%;">
                                        <input name="password" type="password"  [(ngModel)]="user.password" class="form-control" placeholder="*****"  required>
                
                                    </div>
                
                
                
                                    <button style=" margin-left: auto;
                                    margin-right: auto; align-self:flex-end; width: 100px;" type="submit" class="btn btn-secondary" (click)="onRegister()"><i class="fas fa-sign-in-alt"></i>
                                        Registrate</button>
                
                
                                </form>
                
                            <br>
                        </div>
                        
                    </div>
                    <br>
              </div>
        </div>
        </div>
</body>

</html>